SECRET_KEY=your-secret-key
DEBUG=True

# email setup 
EMAIL_HOST_USER=your-email
EMAIL_HOST_PASSWORD=your-password

# database setup 
DB_NAME=your-db-name
DB_USER=your-db-user
DB_PASSWORD=your-db-password
DB_HOST=your-db-host
DB_PORT=your-db-port