{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Store Theme</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="/static/css/themes/theme2/variables.css">
    <link rel="stylesheet" href="/static/css/themes/theme2/sidebar_navbar.css">
    <link rel="stylesheet" href="/static/css/themes/theme2/main.css">
</head>
<body>

    {% include "themes/theme2/navbar.html" %}

    {% block content %}
    
    {% endblock%}

    {% include "themes/theme2/footer.html" %}

    <script src="/static/js/theme/theme2/language-switcher.js"></script>
    <script src="/static/js/theme/theme2/main.js"></script>
</body>
</html>