{% load static %}

<div class="banner-container">
    <div class="banner-slider">
        <!-- Banner 1 -->
        <a href="#" class="banner-item active" data-banner="1">
            <div class="banner-content">
                <div class="banner-text">
                    <span>اختر الخطة التي تناسبك للحصول على متجرك </span>
                </div>
                <div class="banner-icon">
                    <i class="fas fa-arrow-left"></i>
                </div>
            </div>
        </a>

        <!-- Banner 2 -->
        <a href="#" class="banner-item" data-banner="2">
            <div class="banner-content">
                <div class="banner-text">
                    <span>احصل على أفضل الميزات لتطوير متجرك </span>
                </div>
                <div class="banner-icon">
                    <i class="fas fa-star"></i>
                </div>
            </div>
        </a>

        <!-- Banner 3 -->
        <a href="#" class="banner-item" data-banner="3">
            <div class="banner-content">
                <div class="banner-text">
                    <span>ابدأ رحلتك في التجارة الإلكترونية اليوم</span>
                </div>
                <div class="banner-icon">
                    <i class="fas fa-rocket"></i>
                </div>
            </div>
        </a>
    </div>

</div>
