{% load static %}
<!DOCTYPE html>
<html lang="ar" dir="rtl">
<head>
    <link rel="stylesheet" href="{% static 'assets/css/main.css' %}">
    <script rel="script" src="{% static 'assets/js/main.js' %}"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fazaa - 500</title>
    <link rel="icon" href="{% static 'assets/images/fazaa.png' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.4.0/clipboard.min.js">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
</head>
<body>

    <div class="error-page">
        <div class="error-container">
            <h1 class="error-code">500</h1>
            <div class="error-divider"></div>
            <h2 class="error-title">عذراً، حدث خطأ في الخادم</h2>
            <p class="error-message">نواجه مشكلة فنية، يرجى المحاولة مرة أخرى لاحقاً</p>
        </div>
    </div>

</body>
</html>
